doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ti.sencha

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=294097790751111&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - var smallTitle ='';
    article

      section.light(data-bespoke-state='white')
        h1 Titanium
        h2 빠른 모바일 앱 개발
        h4 한국 타이타늄 사용자 모임 tidev.kr
        br
        h5 이종은
        h6 rev.201411

      section
        //- img(src="")
        h2 이종은
        h3 Titanium Developer
        ul
          li
            a(href="http://tidev.kr",target="_blank") tidev.kr
            |  운영
          li
            | Titanium Certified Expert & Titan
          li 
            | NIPA 글로벌 오픈 프론티어 : Titanium 프로젝트
        ul.badge_list
          li
            img.badge(src='./images/badge/tidev.png')
            | &nbsp;
            img.badge(src='./images/badge/tced.png')
            | &nbsp;
            img.badge(src='./images/badge/titans.png')
        p
          i.fa.fa-twitter
          a(href="https://twitter.com/yomybaby",target="_blank")  @yomybaby
          br
          i.fa.fa-github
          a(href="https://github.com/yomybaby",target="_blank")  yomybaby

      section
        p
         img(src="/images/ti.png",style="width:400px")
        h1 Titanium?
      section
        h1
          i.fa.fa-apple.fa-3x
          span &nbsp;&nbsp;&nbsp;
          i.fa.fa-android.fa-3x
        h3 CROSS PLATFORM
      section
        h1 Open Source
        h2 Apach License 2
      section
        h3 NUMBER OF UNIQUE MOBILE DEVICES
        img(src="./images/shot_device.png",style="width:800px")
      section
        h3 NUMBER OF REGISTERED TITANIUM DEVELOPERS
        img(src="./images/shot_developer.png",style="width:800px")
      section
        h3 NUMBER OF CLOUD API REQUESTS
        img(src="./images/shot_api.png",style="width:800px")
      section
        h3 FORTUNE 100 COMPANIES USING TITANIUM
        img(src="./images/shot_fortune.png",style="width:800px")

      section.gif.gif--alone
        h2(style="margin-top:100px") We can’t build it alone…
      section.gif.gif--community
        h2 The Titanium Community
        h3 A FORCE FOR GOOD

      section
        p
         img(src="/images/ti.png",style="width:400px")
        h3 Titanium에 대한 
        h2 진실 혹은 거짓

      section
        h1
          i.fa.fa-html5.fa-3x
        h2 HTML5 기반?

      section.light.gif.gif--no

      section
        h2 Phonegap 류?

      section.light.gif.gif--no2

      section
        h2 Native UI?

      section.light.gif.gif--yes3
        h1. YES! Native!!

      section
        h3 iOS7 vs Android 4.4
        a(href="http://www.knowyourmobile.com/apple/apple-ios-7/21408/ios-7-vs-android-44-kitkat-clash-titans",target="_blank")
          img(width=315,height=251,src="http://static.knowyourmobile.com/sites/knowyourmobilecom/files/styles/insert_main_wide_image/public/6/67/music_0.jpg?itok=PzPXZ4wu")
          p.small_font 원문 링크 바로가기

      section
        h2 Javascript?

      section.light.gif.gif--yes2

      section
        h2 Javascript
          i.fa.fa-heart.fa-3x.red
        h3 Build tool, MVC Framework, Hook..

      section.light(data-bespoke-state='white')
        p
         img(src="/images/ti.png",style="width:400px")
        h2 그렇다면 Titanium은 무엇?

      section.jpg.jpg--good
        h2(style="left:30px;position:absolute;top:165px;background-color:#867B5F") 
          | js 개발자에게

      section.jpg.jpg--hard2say
        //- h2 짧은 시간안에 말로 설명하기에는..

      section.light(data-bespoke-state='primary')
        h2 일단 보여드리고
        h3 그 다음 QnA로..

      section(data-bespoke-state='puple')
        h1.white
          
          |  DEMO TIME!
        ul.white
          li
            i.fa.fa-wrench
            span.light  BUILD :
            |  Titanium Studio / Ti CLI
          li
            i.fa.fa-cube 
            |  MVC : Alloy
          li 
            i.fa.fa-rocket
            |  AWESOME : TiShadow
          li
            i.fa.fa-puzzle-piece
            |  FANTASTIC 3rd party tools..
      section
        h2 Ti current
        img(src="./images/ticurrent.png",style="width:150px")
      section(style="transition:none !important")
        h2 Build & Run
        ul.white.fa-ul(style="text-align:left")
          li.bullet
            i.fa-li.fa.fa-check
            | Code change
          li.bullet
            i.fa-li.fa.fa-check
            | Compile of Alloy (MVC)
          li.bullet
            i.fa-li.fa.fa-check
            | Compile of Titanium
          li.bullet
            i.fa-li.fa.fa-check
            | Compile of Xcode/Android
          li.bullet
            i.fa-li.fa.fa-check
            | Deploying the app
          li.bullet
            i.fa-li.fa.fa-check
            | Starting the app
          li.bullet
            i.fa-li.fa.fa-check
            | Loading the code
      section
        h1 TiShadow
          br
          i.fa.fa-thumbs-up.fa-3x.red
        h4 #1 Titanium Development Tool (3rd-paty)
      section(style="transition:none !important")
        h2.bullet Build & Run with
          strong.red  TiShadow
        ul.white.fa-ul(style="text-align:left")
          li
            i.fa-li.fa.fa-check
            | Code change
          li
            i.fa-li.fa.fa-check
            | Compile of Alloy
          li.lightGray
            i.fa-li.fa.fa-check
            strike Compile of Titanium
          li.lightGray
            i.fa-li.fa.fa-check
            strike  Compile of Xcode/Android
          li.lightGray
            i.fa-li.fa.fa-check
            strike  Deploying the app
          li.lightGray
            i.fa-li.fa.fa-check
            strike  Starting the app
          li
            i.fa-li.fa.fa-check
            | Loading the code
        br
        h5.bullet 
          i.fa.fa-rocket.red.fa-3x
          |  TiShadow 서버(Node.js)를 실행중인 앱으로 전달
      section
        h1 CLI Hook
        img(src="https://www.npmjs.org/static/img/npm.png",style="width:100px")
        br
        ul
          li Tn : Titanium Tiny CLI
          li dev.tapp : Build 환경에 따라 다른 값 지정
          li testflight : build 후 testflight api로 업로드
          li TiShadow
          li ...

      section
        h1 Gitt.io
        img(src="http://gitt.io/badge.png",style="width:100px")
        h2 Titanium Package Manager
      
      section
        p(style="font-size:200px")
          i.fa.fa-question
        h1 QnA

      section.light(data-bespoke-state='white')
        h3 못다한 질문은 
          //- i.fa.fa-beer.red.fa-flip-horizontal
          //- |  혹은 .. 
        img(src='./images/badge/tidev.png',style="width:200px;height:200px;")
        h2 tidev.kr
        h3 한국 타이타늄 사용자 모임

      section.light.gif.gif--rocky
        h1 감사합니다.



    script(src='build/build.js')