doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Titanium Mobile Dev

    link(rel='stylesheet', type='text/css', href='build/build.css')
    //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=294097790751111&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - var smallTitle ='';
    article

      section.light(data-bespoke-state='white')
        h1 Titanium
        h3 : 타이타늄, 빠른 모바일 앱 개발
        h4 글로벌 오픈 프론티어 2기
        br
        h5 이종은
        //- h6 v.201506

      //- section(style="padding:0")
      //-   h1.bullet 여러분은 PHP 
      //-     i.fa.fa-heart.red
      //-   h1.bullet 저는 JavaScript 
      //-     i.fa.fa-heart.red
      //-   //- h2.bullet 으잉?
        
      section
        img.circle(src="./images/jong.png",width="150px")
        br
        h2 이종은
        h3
          i.fa.fa-twitter
          | &nbsp;
          i.fa.fa-github
          a(href="https://github.com/yomybaby",target="_blank")  yomybaby
      
      section
        h1
          i.fa.fa-laptop
          |  Web
        h1
          i.fa.fa-mobile
          |  Mobile
      
      section
        h2
          i.fa.fa-heart.fa-4x.red
        h2.bullet JavaScript
        h2.bullet Open Source
      
      section.light(data-bespoke-state='white')
        ul
          li.fa-2x - Titanium 
          li.fa-2x - 관련 활동 
          li.fa-2x - 하반기 계획
          
      section.light(data-bespoke-state='white')
        p
         img(src="./images/ti.png",style="width:200px")
        h1 Titanium
        h3
          ul
            li - 소개
            li - 동향
            
      section
        h2 JavaScript로 
          br
          | Native 앱을 만든다.

      section
        h1
          i.fa.fa-apple.fa-2x
          span &nbsp;&nbsp;&nbsp;
          i.fa.fa-android.fa-2x
          span &nbsp;&nbsp;&nbsp;
          i.fa.fa-windows.fa-2x
        h3 CROSS PLATFORM
      
      section
        img(src="./images/appcelerator.png",width="200px")
        h1 Open Source
        h2 Apach License 2
      
      section
        h1.fa-5x Q.
        h2 왜 Titanium을 택했나?
        
      section
        h1.fa-5x A. 생산성
        h3
          ul.bullet
            li.bullet JS 언어하나로 앱, 웹, 서버 모두 가능
            li.bullet 개인이나 소규모팀에서도 빠르게 서비스 개발!
      
      section
        h1 Less Coding More Thinking
        h3 개발보다는 제품자체에 집중
      
      section
        h1 JS to Native
        ul
          li.fa-2x React Native 
            span.small_font by facebook
          li.fa-2x NativeScript 
            span.small_font by Telerik
          li.fa-2x Tabris.js 
              span.small_font by EclipseSource
              
      
      section.light(data-bespoke-state='white')
        p
         img(src="./images/ti.png",style="width:200px")
        h1 관련 활동
        h3
          ul
            li - 프로젝트
            li - 커뮤니티
      
      section.light(data-bespoke-state='white')
        h1
          i.fa.fa-code
        h1 프로젝트
        
      section
        img(src="./images/appcelerator.png",width="300px")
        ul
          li Ti Mobile SDK
          li Alloy MVC Framework
          li Ti Cloud Module
        
      section
        h2 &mdash; 3rd Party &mdash;
        ul.fa-ul.p-list
          li 
            i.fa-li.fa.fa-check
            <strong>TEST</strong> : 
            span.TrdM TiSahdow
          li
            i.fa-li.fa.fa-check 
            <strong>Project 설정</strong> : 
            span.Own dev.tiapp
          li
            i.fa-li.fa.fa-check 
            <strong>Network</strong> : 
            span.TrdM Appcelerator-Cloud-Services-Sync-Adapter
            | , 
            span.TrdM REST adapter
            | , 
            span.Trd Parse module
          li
            i.fa-li.fa.fa-check 
            <strong>CLI</strong> : 
            span.TrdM TiNy
          li
            i.fa-li.fa.fa-check
            <strong>UI</strong> : 
            span.Own kr.yostudio.drawer
            | , 
            span.Own VirtualTi
            | , 
            span.Trd TiGMap
            | , 
            span.TrdM ti.adam
          li
            i.fa-li.fa.fa-check
            <strong>생산성</strong> : 
            span.Own atom-titanium
            | , 
            span.Own dev.tiapp
            | , 
            span.Own gulp-timodule
            | , 
            span.Own ipselector
            | , 
            span.TrdM language-tss
            | , 
            span.Own tiguide-dash-gen
          li
            i.fa-li.fa.fa-check
            <strong>App</strong> : 
            span.Own Licky
          li
            i.fa-li.fa.fa-check
            <strong>예제</strong> : 
            span.Own VirtualTiExample, skt-api-example-ti

        br
        
        p(style="text-align:center")
          span.box.TrdM Merged
          | &nbsp;
          span.box.Trd Fork
          | &nbsp;
          span.box.Own Owner
      
      
      section
        h1 TiShadow
          br
          <iframe width="500" height="281" src="https://www.youtube.com/embed/yw8P64HqcZs" frameborder="0" allowfullscreen></iframe>
          //- i.fa.fa-rocket.fa-3x.red
        h4 #1 Titanium Development Tool (3rd-paty)
        
      section
        h2 Atom Package for Titanium
        table
          tr
            td 
              img(src="./images/atom_logo.png",width="150px")
            td by github
    
      section.light(data-bespoke-state='white')
        h1
          i.ion-ios-people.fa-2x
        h1 커뮤니티
        
      section
        img(src="./images/meetup.jpg",width="500px")
        table
          tr
            td
              img(src='./images/badge/tidev.png',style="width:50px;")
            td
              h2 한국 타이타늄 사용자 모임
        h3 http://tidev.kr
        ul.fa-ul(style="text-align:left")
          li
            i.fa-li.fa.fa-angle-right
            | 포럼 및 페이스북 그룹 운영, 오프라인 정기 모임
          li
            i.fa-li.fa.fa-angle-right
            | 포럼 가입자 310명, 페이스북 그룹 가입자 355명

      section
        h1 Global Community
        table
          tr
            td
              img(src='./images/badge/tced.png',width="50px")
            td 
              h3  Titanium Certified Expert
          tr
            td
              img(src='./images/badge/titans.png',width="50px")
            td 
              h3  Titan Community Member

      section
        h2 그외 지식 공유 활동
        ul.fa-ul(style="text-align:left")
          li  
            i.fa-li.fa.fa-check
            strong git 강의 
            | : 삼성전자, 교원, 블로터아카데미..
          li 
            i.fa-li.fa.fa-check
            strong 최신 프론트엔드 기술 강의
            | : 교원, 숭실대학교
          li 
            i.fa-li.fa.fa-check
            strong Titanium 강의 및 컨설팅
            | : 블로터아카데미, 펀플
          li 
            i.fa-li.fa.fa-check
            strong 저술 활동 
            | : SK텔레콤의 T API(기획자와 개발자를 위한 IoT 시대의 개발 가이드)
      
      section.light(data-bespoke-state='white')
        h1
          i.ion-ios-list-outline.fa-2x
        h1 계획
        
      section
        h1 꾸준히
        ul.fa-2x(style="text-align:left")
          li
            i.fa.fa-wrench
            |  만들고
          li
            i.fa.fa-github
            |  공개하고
          li
            i.fa.fa-comments
            |  교류한다.
      
      section
        h1 2015 하반기
        ul
          li IDE 도구 개발
          li Titanium 관련 YouTube 강좌
          li TiShadow 2.0(미확정), Ti.Next (미확정)
      
      section
        h1 감사합니다  

    script(src='build/build.js')
