doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 여러분에게는 JavaScript가 어율려요.

    link(rel='stylesheet', type='text/css', href='build/build.css')
    //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=294097790751111&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - var smallTitle ='';
    article

      section.light(data-bespoke-state='white')
        h1 여러분에게는 
          span.red JavaScript
          | 가
          br
          | 어울려요
        h3 - 서버, 앱, 모두 JS로 만들기
        br
        h4 이종은

      //- section
      //-   img.circle(src="./images/jong.png",width="200px")
      //-   br
      //-   h2 이종은


      section
        //- img(src="")
        img(src="./images/yostudio_logo.svg",width="300px")
        h2 이종은
        h3
          i.fa.fa-heart.red
          |  JavaScript, 개발자
        h3
          i.fa.fa-twitter
          | &nbsp;
          i.fa.fa-github
          a(href="https://github.com/yomybaby",target="_blank")  yomybaby

      section
        h1 
          i.fa.fa-heart.fa-3x.red
        h2 Creative Commons,
        h2 Open Source

      section
        h3
          ul
            li JS 바로 알기
            li JS로 서버 만들기
            li JS로 웹 만들기
            li JS로 네이티브 앱 만들기
            li ...

      section
        h1
          i.fa.fa-heart.fa-3x.red
          br
          span.red ONE LOVE
          br.bullet
          span.bullet JavaScript

      section
        h2 목차
        h3
          ul.fa-ul.left
            li
              i.fa.fa-ul.fa-angle-right
              |  '나도 만들고 싶다'
            li
              i.fa.fa-ul.fa-angle-right
              |  서비스 개발 기법의 변화
            li
              i.fa.fa-ul.fa-angle-right
              |  중심에 선 JavaScript

      section(data-bespoke-state='emphatic')
        h1
          | There are NO stupid question.
      
      section(data-bespoke-state='emphatic')
        h1 
          i.fa.fa-star-half-o.fa-2x.red
        h2.bullet 이 시간의 반쪽은
          br
          | 여러분의 질문으로 완성됩니다.
        br

      section
        h1.bullet 진행은
        h1.bullet 천천히
        h1.bullet 편안하게

      section.light(data-bespoke-state='white')
        h3 이야기1.
        h1 나도 만들고 싶다

      //- section
      //-   h2 '들려주고 싶은 이야기'
      //-   p.bullet
      //-     h3 라고 쓰고
      //-     h3 '잔소리'라 읽는다.

      section
        h1 미디어 00학번

      section
        h2 미디어 학부 지원한
        h1 
          span.yellow 동기
          | 와 
          span.yellow 목적
          | ?

      section
        h2 나는 
          strong.red 무언가
          | 를 만들고 싶다
        p.bullet
          i.fa.fa-code.fa-3x.bullet
          | &nbsp;&nbsp;
          i.fa.fa-music.fa-3x.bullet
          | &nbsp;&nbsp;
          i.fa.fa-camera.fa-3x.bullet
          | &nbsp;&nbsp;
          i.fa.fa-video-camera.fa-3x.bullet
      
      

      section
        h1
          | ..
          i.fa.fa-lightbulb-o.fa-1x.yellow
          i.fa.fa-lightbulb-o.fa-2x.yellow
          i.fa.fa-lightbulb-o.fa-3x.yellow
          i.fa.fa-lightbulb-o.fa-2x.yellow
          i.fa.fa-lightbulb-o.fa-1x.yellow
          | ..
        h3.bullet 만들고 싶은게 많았다.
        //- h2.bullet 만들어서 공개한건?

      section
        h3.bullet 기말 프로젝트, 졸업작품...
        h2.bullet 수업중심

      section
        h1 
          i.fa.fa-compass.fa-3x
        h2 '모험'에 대해..

      section
        h1 모험
        h2. =
        h2 
          span.red 위험을 무릅쓰고
          |  어떠한 일을 함
      section
        h2 모험하고 계신분?

      section
        h2.bullet 스타트업
        h2.bullet vs.
        h2.bullet 대기업

      section
        h2.bullet Q. 왜 스타트업이 모험적일까?
        h2.bullet A. 실패해도 괜찮다.
        br
        h2.bullet Q. 왜?
        h2.bullet A. 실패해도 잃을게 없으니까

      section
        h2.bullet 잃을게 없다 vs. 잃을게 많다.
        h1.bullet 여러분은 어느쪽?

      section
        h2 돌아보면 
          span.red 모험
          | 하지 못한 것이
        h1 아쉬움

      section
        h1 만들고 싶다면
        h1 만들어 보세요

      section.light(data-bespoke-state='white')
        h3 이야기2.
        h1 
          | 서비스 개발 기법의 변화
      
      section
        h1
          i.fa.fa-mobile.fa-3x
        h2 모바일 서비스 개발 기법 중심으로..

      section
        h2 왜 모바일인가?

      section
        h1 1,000,000,000
        h1 30h/m

      section
        h1 < = >
        h2 Less is More




      section
        h2 

    
        

      section
        h2 Yo Studio,
        h2 NIPA 오픈 프론티어


      section
        h1
          i.fa.fa-graduation-cap.fa-2x
          br
          | C++

      section
        h1
          i.fa.fa-building-o.fa-2x
        img(src="./images/daum_logo.svg",width="200px")
        h2.bullet ActionScript, JavaScript
        h2.bullet HTML, CSS
        h2.bullet Objective-C
     
      //- section
      //-   h2
      //-     i.fa.fa-gamepad.fa-3x
      //-     br
      //-     | 취미로 시작한 Titanium
      //-   p
      //-    img(src="./images/ti.png",style="width:200px")
      //- section.gif.gif--typing
        


      section(data-bespoke-state='emphatic')
        h2 비교 연산자 == vs ===
        pre
          code.language-javascript.
            var one= 1, oneString = '1' , t = true;

            console.log(one == oneString);
            console.log(one == t);
            console.log(oneString == t);

            console.log(one === oneString);
            console.log(one === t);
            console.log(oneString === t);
        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2 원시값의 복사
        pre
          code.language-javascript.
            var p = 1;
            var copyOfP = p;
            p = 3;
            console.log(copyOfP);

            var myObject = {};
            var copyOfMyObject = myObject;
            myObject.foo = 'bar';
            console.log(copyOfMyObject.foo);
        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2. 원시값의 비교
        pre
          code.language-javascript.
            var p1 = 10;
            var p2 = 10;
            var p3 = new Number('10');
            var p3_1 = Number('10');
            var p4 = p3;

            console.log(p1 === p2);
            console.log(p1 === p3);
            console.log(p3_1 === p3);
            console.log(p1 === p3_1);
            p4=10;
            console.log(p4 === p3);
        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2. 복합 객체의 비교
        pre
          code.language-javascript.
            var objectFoo = { name : 'jong' };
            var objectBar = { name : 'jong' };

            console.log( objectFoo === objectBar );

            var objectA = { name : 'ti' };
            var objectB = objectA;

            console.log( objectA === objectB );
        a(data-bespoke-run)
          | Run!
      
      section(data-bespoke-state='emphatic')
        h2. 객체 속성 접근방법
        ul
          li object['property_name']
          li object.property_name
        pre
          code.language-javascript.
            var obj = {
                name : 'MyObject'
            };
            var a = 'name';
            console.log(obj.name);
            console.log(obj["name"]);
            console.log(obj[a]);
        a(data-bespoke-run)
          | Run!
      
      section(data-bespoke-state='emphatic')
        h2. 함수는 1급 클래스이다.
        blockquote
          | 변수, 배열, 객체에 저장될 수 있다는 뜻이다. 또한 함수에 전달될 수도 있고 함수에서 반환될 수도 있다. 그리고 함수는 객체이기 때문에 속성도 가지고 있다.
          br
          b - "자바스크립트를 깨우치다" 중에서
        pre.small_font
          code.language-javascript.
            var myFun = function(){
                console.log('MyFun');
            };

            var yourFun = function(fn){
              fn();
              return function(){
                console.log('return Fun');
              }
            };

            var retFun = yourFun(myFun);
            retFun();
        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2 this
        pre
          code.language-javascript.
            function fn(){
              console.log(this);
            }
            fn();
            new fn();
        a(data-bespoke-run)
          | Run!
        a(href="http://davidql.github.io/scope_talk/#/",target="_blank") this와 scope 참고 자료
      
      section(data-bespoke-state='emphatic')
        h2 arguments
        pre
          code.language-javascript.
            var myFun = function(){
              console.log(arguments[0]);
              console.log(arguments.length);
              console.log(arguments.join);
              console.log(arguments.callee);
              console.log([].join);
            };
            myFun(1,2,'333','Ti');

        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2 Hoisting
        p.small_font 함수 선언문 먼저 해석하고 Excuete context에 추가
        pre
          code.language-javascript.
            foo();
            function foo() {
                console.log('I am NOT Android'); 
            }
        a(data-bespoke-run)
          | Run!

      section(data-bespoke-state='emphatic')
        h2 클로저
        pre
          code.language-javascript.
            var z = "global";
            function outerFn() {
                var z = "local";
                alert(newVal);
                return function innerFn()
                {
                        console.log(z);
                }
                innerFn();
            } 
            var newVal = 't';
            var f = outerFn();
            f();
            console.log(z);
        a(data-bespoke-run)
          | Run!
      

      section
        h1.bullet Titanium Developer
        ul.bullet
          li
            | 한국 타이타늄 사용자 모임 
            a(href="http://tidev.kr",target="_blank") tidev.kr
            |  운영
          li
            | Titanium Certified Expert
          li Titan
          li NIPA 글로벌 오픈 프론티어
          li
            ul.badge_list
              li
                img.badge(src='./images/badge/tidev.png')
                | &nbsp;
                img.badge(src='./images/badge/tced.png')
                | &nbsp;
                img.badge(src='./images/badge/titans.png')
        

      section
        h1 
          i.fa.fa-heart.fa-3x.red
        h2 Creative Commons,
        h2 Open Source
      section
        h2 목차
        h3
          ul.fa-ul.left
            li
              i.fa.fa-ul.fa-angle-right
              |  타이타늄 소개
            li
              i.fa.fa-ul.fa-angle-right
              |  선발시 활동 계획
            li 
              i.fa.fa-ul.fa-angle-right
              |  활동 내용
            li
              i.fa.fa-ul.fa-angle-right
              |  향후 추진방향

      section.light(data-bespoke-state='white')
        p
         img(src="./images/ti.png",style="width:300px")
        h2 Titanium 소개

      section
        h1
          i.fa.fa-apple.fa-3x
          span &nbsp;&nbsp;&nbsp;
          i.fa.fa-android.fa-3x
        h3 CROSS PLATFORM
      section
        h1 Open Source
        h2 Apache License 2

      section
        table
          tr
            td
              img(src="./images/appcelerator.png",width="200px")
            td
              img(src="./images/jeff.jpg",width="200px")
        h2.bullet Jeff Haynie
        h3.bullet Coding CEO
        //- p 2007년 Appcelerator Titanium Mobile이 핵심제품
      
      section.gif.gif--alone
        h2(style="margin-top:100px") We can’t build it alone…


      section.gif.gif--community
        h2 The Titanium Community
        h3 A FORCE FOR GOOD

      section
        img(src="./images/shot_developer.png",style="width:150px")
        br
        h3 NUMBER OF REGISTERED TITANIUM DEVELOPERS
        h1 650,000
        
      //- section
      //-   h2 수많은 오픈소스, 책, QnA 존재

      secion 
        h1 Gartner Magic Quadrant Leader
        table
          tr
            td
              img(src="./images/gartner/2013.png",width="100px")
            td
              img(src="./images/gartner/2012.png",width="100px")
            td
              img(src="./images/gartner/2011.png",width="100px")
            td
              img(src="./images/gartner/2010.png",width="100px")

      section
        h1 Community 
          i.fa.fa-heart.red
          br
          | Open Source
        p Significant prebuilt assets are available for use from Appcelerator's community, including code, apps and cloud services.

     

      section
        p
         img(src="./images/ti.png",style="width:400px")
        h3 Titanium에 대한 
        h2 진실 혹은 거짓

      section
        table
          tr
            td
              h1
                i.fa.fa-html5.fa-3x
                | &nbsp;&nbsp;&nbsp;
            td 
              img(src="./images/phoneGap.png",width="200px",style="border-radius: 100px;background-color:white")
        h2 HTML5?
          br
          | PhoneGap류?

      section.light.gif.gif--no2
        h1 NO!

      //- section.light.gif.gif--no

      //- section
        p vm상에서 돌아간다 webview기반이 아니다. javascript짜면 js와 native를 binding 하는 형태

      section
        table
          tr
            td
              img(src="./images/nativeui/native.jpg",width="200px")
            td
              h2 &nbsp; or &nbsp;
            td
              img(src="./images/nativeui/fake.jpg",width="200px")

        h2 Native UI?

      section.light.gif.gif--yes3
        h1. YES! Native UI!

      section
        h3 iOS vs Android
        a(href="http://www.knowyourmobile.com/apple/apple-ios-7/21408/ios-7-vs-android-44-kitkat-clash-titans",target="_blank")
          img(width=315,height=251,src="http://static.knowyourmobile.com/sites/knowyourmobilecom/files/styles/insert_main_wide_image/public/6/67/music_0.jpg?itok=PzPXZ4wu")
          //- p.small_font 원문 링크 바로가기

      section
        h2 JavaScript?

      section.light.gif.gif--yes2
        h1.white YES!
        h1.green JavaScript
      section
        h2 JavaScript
          i.fa.fa-heart.fa-3x.red
        h3 Build tool, MVC Framework, Hook..

      section.light(data-bespoke-state='white')
        h1
          i.fa.fa-cloud.fa-3x.red
        h2 Titanium with
        h1 CLOUD
        p (For Mobile Application Life Cycle)

      section
        h1 ACS
        h3 (Appcelerator Cloud Service)
        h3. = MBaaS
        p
          img(src="./images/acs.png",width="500px")
      
      section
        img(src="./images/nodeacs.png",width="150px")
        h1 Node.ACS
        ul.fa-ul.left
          li. = Node 호스팅
          li
            i.fa-li.fa.fa-cloud
            | ACS의 API를 확장하고 커스터마이징 가능
          li 
            i.fa-li.fa.fa-cloud
            | CLI를 이용해서 쉬운 생성과 배포
          li 
            i.fa-li.fa.fa-cloud
            | CNAME을 이용한 독립 도메인 연결
      //- section
      //-   img(src="https://www.npmjs.org/static/img/npm.png",style="width:100px")
      //-   pre.language-bash
      //-     code.
      //-       $ sudo npm install -g titanium
      //-       $ titanium setup
      
      //- section
      //-   h2 Alloy MVC
      //-   p project/app/..
      //-   img(src="./images/compile/alloy.png",width="750px")

      //- section
      //-   h2 After Alloy Compile
      //-   p project/Resource/app/..
      //-   img(src="./images/compile/afteralloy.png",width="550px")

      //- section
      //-   h2 After Titanium Compile
      //-   p build/..
      //-   img(src="./images/compile/iphone.png",width="400px")
      //-   br
      //-   img(src="./images/compile/android.png",width="400px")

      //- section
      //-   h2 Ti current
      //-   img(src="./images/ticurrent.png",style="width:150px")
      //- section
      //-   h2 Build & Run
      //-   ul.white.fa-ul(style="text-align:left")
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Code change
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Compile of Alloy (MVC)
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Compile of Titanium
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Compile of Xcode/Android
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Deploying the app
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Starting the app
      //-     li.bullet
      //-       i.fa-li.fa.fa-check
      //-       | Loading the code

      section.light(data-bespoke-state='white')
        p
         img(src="./images/ti.png",style="width:300px")
        h2 선발시 활동 계획

      section(style="padding:0",data-bespoke-state='xecon')
        img(src="./images/plan1.jpg",width="640px")

      section(style="padding:0",data-bespoke-state='xecon')
        img(src="./images/plan2.jpg",width="640px")

      section.light(data-bespoke-state='white')
        p
         img(src="./images/ti.png",style="width:300px")
        h2 활동 내용

      section.gif.gif--licky
        span.small_title.darkbg 활동내용 1. 커미터가 되겠습니다.
        //- img(src="./images/licky.svg",width="150px")
        h1 &nbsp;
        h1 &nbsp;
        h2 &nbsp;
        h2.darkbg
          | 먹기 전에 사진 찍는 SNS
          br 
          a(href="http://licky.co") Licky

      section
        span.small_title.darkbg 활동내용 1. 커미터가 되겠습니다.
        h2 Titanium으로  
          strong.red.whitebg Mobile App
        h2 ACS로 
          strong.red.whitebg 백엔드 API 서버
        h2 Node.ACS로 
          strong.red.whitebg 웹서비스

       section
        table
          tr
            td
              img(src="./images/licky.svg",width="200px")
            td
              h1
                i.fa.fa-github.fa-3x
        h3 소스도 오픈 
          a(href="https://github.com/yoda-united/licky",target="_blank") github.com/yoda-united/licky

      section
        span.small_title.darkbg 활동내용 1. 커미터가 되겠습니다.
        img(src="./images/ti.png",style="width:150px")
        h2 Titanium 관련
          br 
          | 도구 제작 및 공개
        ul.fa-ul.left
          li
            i.fa-li.fa.fa-angle-right
            | Dev.tiapp (
            i.fa.fa-star
            |  14, 
            i.fa.fa-code-fork
            |  6)

          li
            i.fa-li.fa.fa-angle-right
            | Gulpfile-timodule (
            i.fa.fa-star
            |  12, 
            i.fa.fa-code-fork
            |  2)
          li
            i.fa-li.fa.fa-angle-right
            | ipselector (
            i.fa.fa-download
            |  541 in the last month)

        
      section
        span.small_title.darkbg 활동내용 1. 커미터가 되겠습니다.
        img(src="./images/ti.png",style="width:150px")
        h2 모바일 SDK 개선 활동
        ul.fa-ul.left
          li
            i.fa-li.fa.fa-angle-right
            | Pull Request 및 버그 리포팅

      section
        span.small_title.darkbg 활동내용 1. 커미터가 되겠습니다.
        img(src="./images/ti.png",style="width:100px")
        h2 타이타늄 관련 3rd-party
          br
          | 프로젝트 참여
        ul.fa-ul.left
          li
            i.fa-li.fa.fa-angle-right
            | TiShadow
          li
            i.fa-li.fa.fa-angle-right
            | TiNy CLI
          li
            i.fa-li.fa.fa-angle-right
            | ticonfig
          li
            i.fa-li.fa.fa-angle-right
            | ti.adam
          li
            i.fa-li.fa.fa-angle-right
            | REST API adapter
          li
            i.fa-li.fa.fa-angle-right
            | TiGMap

      section
        span.small_title.darkbg 활동내용 2. 타이타늄 커뮤니티 활동
        img(src='./images/badge/tidev.png',style="width:150px;")
        h2 한국 타이타늄 사용자 모임
        h3 http://tidev.kr
        ul.fa-ul.left
          li
            i.fa-li.fa.fa-angle-right
            | 포럼 등록 가입자 : 약 240명
          li
            i.fa-li.fa.fa-angle-right
            | Facebook 그룹 멤버 : 약 310명

      section
        span.small_title.darkbg 활동내용 2. 타이타늄 커뮤니티 활동
        h2 외부 타이타늄 소개 활동
        ul
          li
            img(src="./images/xecon.jpg",width="300px")
          li
            img(src="./images/openfall.png",width="300px",style="background-color:white")
          li
            img(src="./images/sencha.png",width="200px")

      section.light(data-bespoke-state='white')
        p
          img(src="./images/ti.png",style="width:300px")
        h2 향후 추진방향

      section
        h2.bullet
          i.fa.fa-clock-o.fa-2x
          |  지난 5개월..
        h3.bullet 이제 시작..

      section
        h1 꾸준히
        h2
          ul.fa-ul.left
            li
              i.fa.fa-li.fa-wrench
              | 만들고
            li
              i.fa.fa-li.fa-github
              | 공개하고
            li
              i.fa.fa-li.fa-comments
              | 교류하겠습니다. 

      section
        h1 2015
        h3
          ul.fa-ul.left
            li
              i.fa.fa-li.fa-globe
              | 영어 문서화 및 홍보
            li
              i.fa.fa-li.fa-rocket
              | SNS Bootstrap (Ti, ACS, Node.ACS)
            li
              i.fa.fa-li.fa-microphone
              | 해외 컨퍼런스 발표 or 국내 개최


      section
        h1 감사합니다.
        



    script(src='build/build.js')